---
title: 'Blog | adc.pe'
---
extends _includes/base.pug

block scripts
  link(rel="stylesheet", href=`../assets/css/main.css`)

block content
  section.content
    each post in collections.posts.reverse()
      div
        a(href=`/blog/${post.data.id}-${post.data.slug}/` class='navbar-link')= post.data.title
        p= post.data.date
