---
title: 'Blog | adc.pe'
---
extends _includes/base.pug

block scripts
  link(rel="stylesheet", href=`../assets/css/main.css`)

block content
  ul
    each post in collections.posts.reverse()
      li: a(href=`/blog/${post.data.id}-${post.data.slug}/`)= post.data.title
  
