---
title: 'Blog | adc.pe | Andrés Del Carpio'
---
extends _includes/base.pug

block scripts
  meta(property='og:title' content=title)
  meta(property='og:site_name' content=title)
  meta(property='og:description' content='Blog of adc.pe | Andrés Del Carpio')
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://adc.pe/blog/')
  //- meta(property='og:image' content='[image]')
  meta(name='twitter:card' content='summary')
  meta(name='twitter:site' content='@adcpe_')
  meta(name='twitter:creator' content='@adcpe_')

block content
  section.content
    each post in posts.reverse()
      div
        a(href=`/blog/${post.data.id}-${post.data.slug}/` class='navbar-link post-title')= post.data.title
        p= post.data.date
