---
title: 'adc.pe'
---
extends _includes/base.pug

block scripts
  meta(property='og:title' content='adc.pe')
  meta(property='og:site_name' content='adc.pe')
  meta(property='og:description' content='Website of Andrés Del Carpio, web developer from Lima, Peru.')
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://adc.pe/')
  //- meta(property='og:image' content='[image]')
  meta(name='twitter:card' content='summary')
  meta(name="twitter:site" content="@adcpe_")
  meta(name="twitter:creator" content="@adcpe_")

block content
  section.content
    h1.font-alt.title Hello, I'm Andrés Del Carpio
    h2.font-alt.subtitle I am a Web Developer from Lima, Peru
    div
      p I focus myself on front-end, some back-end and tech in general.
      p My preferred technologies and tools are VueJS, Ruby on Rails, SQL, Arch Linux and KDE.
      p This is my #[a(href='https://joelhooks.com/digital-garden' target='_blank' rel='noopener noreferrer') digital garden]. If it seems empty or unfinished, check it later. It might have changed.
      p Welcome and thank you for taking a look at my stuff.
