@import 'fonts'
@import 'variables'

:root
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif
  background: $background
  color: $foreground

body
  margin: 0
  padding: 0
  box-sizing: content-box

main
  max-width: 1024px
  // min-height: 72vh
  margin: 0 auto
  display: flex

small
  font-size: 0.9rem

h1
  font-size: 2.3rem

h2
  font-size: 1.8rem

h3
  font-size: 1.55rem

h4
  font-size: 1.3rem

p
  font-size: 1.3rem
  line-height: 32px

.font-alt
  font-family: 'Fira Sans', sans-serif

.post-title
  font-family: 'Fira Sans', sans-serif
  font-weight: bold

.logo
  padding: 0
  list-style: none
  font-size: 1.6rem
  height: 100%
  color: $yellow
  text-decoration: none
  font-weight: bold
  &:hover
    color: $red

.navbar
  margin: 0 auto 4rem
  padding: 0 1rem
  max-width: 1024px
  line-height: 3.5em
  overflow: hidden
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: space-between
  border-bottom: 1px $bright-blue solid
  & a
    margin-right: auto

.link-group > ul
  display: flex
  flex-wrap: wrap
  align-items: center
  list-style: none
  padding: 0
  & li
    margin: 0 0.5rem

.content
  margin: 0 1rem
  & div
    font-size: 1.05rem
    line-height: 1.75rem
    margin-top: 0.875rem
    & p
      margin-top: 0.75rem
      margin-bottom: 0.75rem
      line-height: 32px
    & a
      font-size: 1.3rem
      color: $bright-yellow
      text-decoration: none
    & a:hover
      color: $bright-red

.title
  margin-top: 0
  font-size: 2.8rem
  line-height: 1
  font-weight: bold
  margin-bottom: 0.5rem

.subtitle
  font-size: 1.3rem
  line-height: 2rem
  opacity: 0.75
  margin-bottom: 0.75rem
  font-style: italic

.highlight
  color: $yellow
  font-style: italic

.navbar-link
  font-size: 1.35rem
  color: $bright-yellow
  margin: 1em auto
  text-decoration: none

.navbar-link:hover
  color: $bright-red

// .navbar-link__active
//   text-decoration: underline
//   text-decoration-style: dotted
//   text-decoration-thickness: 3px
//   text-decoration-color: $bright-yellow

.blog
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  flex-wrap: wrap
  margin: 0 !important
  & p
    margin-left: 1rem

footer
  display: flex
  justify-content: center
  margin: 3rem auto 1rem
  & i
    color: $bright-yellow
    margin: 0 10px
  & i:hover
    color: $bright-red

@media screen and (width < 600px)
  .blog
    display: revert
    & p
      margin-left: 0
