@import 'fonts'
@import 'variables'

:root
  font-family: 'Varela Round', sans-serif
  background: #CAD9AC40
  color: $black

body
  min-height: 100vh
  margin: 0
  padding: 0
  box-sizing: content-box

main
  max-width: 700px
  min-height: 78vh
  margin: 0 auto
  display: flex

.font-alt
  font-family: 'Outfit', sans-serif

.post-title
  font-family: 'Martel', serif
  font-weight: 900

.logo
  padding: 0
  list-style: none
  font-size: 1.8rem
  height: 100%
  color: $red
  text-decoration: none
  font-weight: 900

.navbar
  margin: 0 auto
  padding: 0 1rem
  max-width: 1024px
  line-height: 3.5em
  overflow: hidden
  display: flex
  flex-direction: row
  justify-content: space-between
  & a
    margin-right: auto

.link-group > ul
  display: flex
  align-items: center
  text-transform: lowercase
  list-style: none
  padding: 0
  & li
    margin: 0 0.5rem

.content
  min-height: 100%
  margin: 0 1rem
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  & div
    font-size: 1.25rem
    line-height: 1.75rem
    margin-top: 0.875rem
    & p
      margin-top: 0.75rem
      margin-bottom: 0.75rem
    & a
      font-size: 20px
      color: $red
      text-decoration: none
    & a:hover
      color: $green
      text-decoration: underline
      text-decoration-thickness: 2px

.title
  margin-top: 0
  font-size: 3rem
  line-height: 1
  font-weight: 700
  margin-bottom: 0.5rem

.subtitle
  font-size: 1.5rem
  line-height: 2rem
  font-weight: 600
  opacity: 0.75
  margin-bottom: 0.75rem

.navbar-link
  font-size: 22px
  color: $green
  margin: 1em auto
  text-decoration: none

.navbar-link:hover
  color: $red
  text-decoration: underline
  text-decoration-thickness: 2px

.navbar-link__active
  text-decoration: underline
  text-decoration-thickness: 2px

footer
  display: flex
  justify-content: center
  margin: 3rem auto 1rem
  position: relative
  bottom: 0
  left: 0
  right: 0
  & i
    color: $red
    margin: 0 10px
  & i:hover
    color: $green
