@import 'variables'

.post
  margin: 0 1rem

  a
    text-decoration: none
    color: $yellow

    &:hover
      color: $orange
      text-decoration: underline
      text-decoration-style: dotted
      text-decoration-thickness: 2px

  pre,
  pre > code
    font-family: 'IBM Plex Mono', monospace !important
    max-width: 680px
    white-space: pre-wrap
