@import 'variables'

.post
  margin: 0 1rem

  small
    font-size: 1.1rem

  & h1
    font-size: 2.5rem

  & h2
    font-size: 2rem

  & h3
    font-size: 1.75rem

  & h4
    font-size: 1.5rem

  & p
    font-size: 1.5rem
    line-height: 32px

  a
    text-decoration: none
    color: $red

    &:hover
      color: $green
      text-decoration: underline
      text-decoration-style: dotted
      text-decoration-thickness: 2px

  pre,
  pre > code
    font-family: 'IBM Plex Mono', monospace !important
    max-width: 680px
    white-space: pre-wrap
